@model VisaApplicationSystem.Models.Visa

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Visa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.visaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visaTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visaTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adminID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adminID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aadhar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aadhar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.govenmentProof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.govenmentProof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeProof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeProof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.educationProof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educationProof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bankProof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bankProof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toeflCertification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toeflCertification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visitorProof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visitorProof)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.visaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
