@model VisaApplicationSystem.Models.Password

@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/CustomScript/SignUp.js"></script>
    <link href="~/Content/CustomCSS/TableView.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/ChangePassword.css" rel="stylesheet" />
    <script src="~/Scripts/CustomScript/NewPassword.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h2>Change password</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "form-control", @onblur = "validatePassword(this);", placeholder = "New password", type = "password" } })
                <br>
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.conformPassword, new { htmlAttributes = new { @class = "form-control", @onblur = "validatePassword(this);", placeholder = "Conform password", type = "password" } })
                <br>
                @Html.ValidationMessageFor(model => model.conformPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Conform" class="btn btn-pri" />
            </div>
        </div>
    </div>
    }
</body>
</html>
