@model VisaApplicationSystem.Models.Login


@{
    ViewBag.Title = null;
}
<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">

        windowwindow.onload = window.history.forward(0);

    </script>
    <script src="~/Scripts/CustomScript/LogIn.js"></script>
    <link href="~/Content/CustomCSS/LogIn.css" rel="stylesheet" />

</head>
<body>

    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "myForm", onsubmit = "return validateForm();" }))
    {



        @Html.AntiForgeryToken()

        <div class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-1-strong" style="border-radius: 2rem; padding: 40px; background-color:aliceblue">
                            <div class="card-body p-8">
                                <h3 class="mb-9">Sign in</h3>

                                <div class="form-outline mb-4 mx-auto custom-moved">
                                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @onblur = "validateField(this);", placeholder = "Username" } })
                                    <p id="userNameError" class="text-danger"></p>
                                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4 mx-auto custom-moved">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @onblur = "validatePassword(this);", type = "password", placeholder = "Password" } })
                                    <p id="passwordError" class="text-danger"></p>
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger mb-4 mx-auto custom-moved">
                                        @ViewBag.ErrorMessage
                                    </div>
                                }
                                <div>
                                    <input type="checkbox" id="checkBox" name="remember" value="true">
                                    <label for="remember" style="font-size:medium;">Remember me </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="@Url.Action("ForgetPassword", "Home", new { area = "" })"
                                       target="_blank" style="font-size:smaller;" style="align-self:center;">Forgot Password?</a>
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-primary btn-block" type="submit" style="width: 285px;">Login</button>
                                    <br>
                                </div>

                                <div class="col-md-c">
                                    <a href="Signup"
                                       target="_blank" style="font-size:smaller;" style="align-self:center;">Dont have account?</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>