@model VisaApplicationSystem.Models.ForgotPassword

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/CustomCSS/ForgotPassword.css" rel="stylesheet" />
    <script src="~/Scripts/CustomScript/ForgotPassword.js"></script>
</head>
<body>

    @using (Html.BeginForm())
    {



        @Html.AntiForgeryToken()

        <div class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-1-strong" style="border-radius: 2rem; padding: 40px; background-color:aliceblue">
                            <div class="card-body p-8">
                                <h3 class="mb-9">Forgot password</h3>
                                <div class="form-outline mb-4 mx-auto custom-moved">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @onblur = "validateField(this);", placeholder = "Email" } })
                                    <p id="userNameError" class="text-danger"></p>
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4 mx-auto custom-moved">
                                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @onblur = "validateField(this);", placeholder = "Username" } })
                                    <p id="userNameError" class="text-danger"></p>
                                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4 mx-auto custom-moved">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @onblur = "validateField(this);", type = "password", placeholder = "New password" } })
                                    <p id="passwordError" class="text-danger"></p>
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-primary btn-block" type="submit" style="width: 285px;">Create new password</button>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
